/maps/Australia/*
/maps/BeNeLux/*
/maps/Germany-Alps/*
/maps/GreatBritain/*
/maps/MiddleAsia/*
/maps/NewZealand/*
/maps/Oman/*
/maps/Patagonia/*
/maps/Poland-Czech/*
/maps/Scandinavia/*
/maps/Turkey/*

*.jar
*.o5m
*.zip
*.log
*.pbf
*.osm
*.gz
*.7z
*.img
*.mdx
*.typ
*.tdb
*.exe
*~

help.txt
license-mkgmap.txt

